# Streamlit + dependencies
streamlit==1.30.0
rich==14.2.0
markdown-it-py==4.0.0
mdurl==0.1.2
pygments==2.19.2

# NLP / Transformers
nltk==3.8.1
transformers==4.31.0
sentence-transformers==2.2.2
tiktoken==0.4.0

# PDF / Doc / Web scraping
pypdf==3.16.0
python-docx==1.1.2
requests==2.31.0
beautifulsoup4==4.12.2

# LangChain
langchain==0.0.355
langchain-huggingface==0.3.3

# Vector Stores / DB
pinecone-client==3.2.2
redis==6.2.0

pinecone-text==0.7.2
