# Streamlit
streamlit==1.30.0

# NLP
nltk==3.8.1
tiktoken
pypdf
python-docx
requests
beautifulsoup4

# Embeddings + Transformers
transformers==4.42.0
sentence-transformers==2.2.2

# --- LangChain (Old API, but stable and supports langchain.chains) ---
langchain==0.0.350

# Pinecone
pinecone-client==3.2.2
langchain-pinecone==0.0.17
pinecone-text==0.1.5

# Env
python-dotenv
